<div class="flex flex-col gap-10">
  <h1>Skippers</h1>
  <%= render 'shared/searchbar', stimulus_action: 'search_skippers', path: skippers_path, title: 'Find or review a skipper' %>
  <%= turbo_frame_tag :search_results do %>
    <div id="skippers" class='flex flex-col gap-16'>
			<% unless @perfect_match_skippers.nil? %>
				<% unless @perfect_match_skippers.empty? %>
					<div id='perfect-match-skippers' class='flex flex-col gap-5'>
						<%= render @perfect_match_skippers %>
					</div>
				<% end %>
				<div class='flex flex-row justify-start'>
					<div class='flex flex-col gap-2 items-start'>
						<p>Don't see your skipper? Add them!</p>
						<%= render 'shared/button/link', title: 'Add your skipper', path: new_skipper_path, twcss_color: 'bg-blue-100', data: {turbo: false} %>
					</div>
				</div>
			<% end %>
      <% if @skippers.present? %>
				<div id='similar-match-skippers' class='flex flex-col gap-5'>
					<h3>Similar serach results</h3>
          <%= render @skippers %>
				</div>
			<% end %>
      <% if @saved_skippers.nil? %>
        <div class='flex flex-row'>
          <div class='flex flex-col gap-10'>
            <p>Your saved skippers will appear here.</p>
          </div>
        </div>
      <% else %>
				<%= render @saved_skippers %>
			<% end %>
    </div>
  <% end %>
</div>