<div class='flex flex-col gap-16'>
  <div class='flex flex-row'>
      <%= render 'shared/button/link', title: 'Skippers', path: skippers_path, twcss_color: 'bg-gray-100' %>
  </div>

	<div class='flex flex-row justify-between'>
		<div class='flex flex-col gap-3'>
			<h1><%= @skipper.name %></h1>
			<h3 class='text-2xl'><%= fv_boatname(@skipper.boatname) %></h3>
			<% if @skipper.city && @skipper.state %>
				<h3 class='text-2xl'><%= @skipper.city %>, <%= @skipper.state %></h3>
			<% end %>
		</div>

		<div class='flex flex-col'>
			<% if current_user.saved_skipper?(@skipper) %>
				<%= render 'skippers/unsave_skipper' %>
			<% else %>
				<%= render 'skippers/save_skipper' %>
			<% end %>
		</div>
	</div>

  <% if current_user.can_edit_or_delete_skipper?(@skipper) %>
    <div class='flex flex-row items-end justify-end gap-3'>
      <% if current_user.can_edit_skipper?(@skipper) %>
        <%= render 'shared/button/link', title: "Edit #{@skipper.firstname}", path: edit_skipper_path(@skipper), twcss_color: 'bg-yellow-100'%>
      <% end %>
      <% if current_user.can_delete_skipper?(@skipper) %>
        <%= render 'shared/button/form', title: "Delete #{@skipper.firstname}", path: @skipper, method: :delete, twcss_color: 'bg-red-100', data: {turbo_confirm: 'Are you sure? This action is permanent!'} %>
      <% end %>
    </div>
  <% end %>

  <div class='flex flex-col gap-5'>
    <div class='flex flex-row justify-between items-center'>
      <h2>Reviews</h2>
      <% if @review %>
        <%= render 'shared/button/link', title: 'Edit My Review', path: edit_review_path(@review), twcss_color: 'bg-yellow-100' %>
      <% else %>
        <%= render 'shared/button/link', title: "Review #{@skipper.firstname}", path: new_review_path(review: {skipper_id: @skipper.id}), twcss_color: 'bg-blue-100' %>
      <% end %>
    </div>
		
    <% if @skipper.reviews.present? %>
      <%= render @skipper.reviews %>
    <% else %>
      <p><%= @skipper.firstname %> has not yet been reviewed.</p>
    <% end %>
  </div>
</div>
