<div class='flex flex-col gap-16'>
  <div class="flex flex-row justify-end">
    <%= render 'shared/button/link', title: 'Back to users', path: users_path, twcss_color: 'bg-gray-100' %>
  </div>
  <div class='flex flex-col border-8 p-10 gap-10'>
    <div>
      <p class='text-3xl'><%= @user.name %></p>
      <p class='text-xl'>Since <%= @user.created_at.localtime.strftime("%B %Y") %></p>
    </div>
    <p class='text-2xl'><%= pluralize(@user.authored_reviews.count, 'review') %></p>
    <p class='text-2xl'><%= pluralize(@user.friends.count, 'friend') %></p>
  </div>
  <div class="w-full flex justify-end">
    <% if current_user == @user %>
      <div class='flex flex-col'>
        <div class="flex flex-row gap-3">
          <%= render 'shared/button/link', title: 'Edit', path: edit_user_path(@user), twcss_color: 'bg-yellow-100' %>
          <%= render 'shared/button/form', title: 'Delete', path: @user, method: :delete, twcss_color: 'bg-red-100', data: {confirm: 'Are you sure? This action is permanent!'} %>
        </div>
      </div>
    <% elsif !current_user.friendship_exists_with?(@user) %>
      <%= render 'shared/button/form', title: 'Add Friend', path: friendships_path, method: :post, twcss_color: 'bg-blue-100', params: { friendship: {user_id: current_user.id, friend_id: @user.id}} %>
    <% elsif current_user.friends_with?(@user)%>
      <p class="rounded-lg py-3 px-5 bg-blue-100 text-lg">Friends!</p>
    <% else %>
      <p class="rounded-lg py-3 px-5 bg-blue-100 text-lg">Friendship Pending</p>    
    <% end %>
  </div>
  <% if current_user == @user %>
    <div class='flex flex-col gap-3 items-start'>
      <%= render partial: 'friendships/pending_friendship', collection: @user.pending_friendships, as: :friendship %>
    </div>
  <% end %>
</div>
