<div class='flex flex-col gap-16'>
  <div class="flex flex-row justify-end">
    <%= link_to 'Back to users', users_path, class: "ml-2 rounded-lg p-5 bg-gray-100 text-lg" %>
  </div>
  <div class='flex flex-col border-8 p-10 gap-10'>
    <div>
      <p class='text-3xl'><%= @user.name %></p>
      <p class='text-xl'>Since <%= @user.created_at.localtime.strftime("%B %Y") %></p>
    </div>
    <p class='text-2xl'><%= @user.authored_reviews.count %> reviews</p>
  </div>
  <div class="w-full flex justify-end">
    <% if current_user == @user %>
      <div class="flex flex-row gap-3">
        <%= link_to 'Edit', edit_user_path(@user), class: "rounded-lg py-3 px-5 bg-yellow-100 inline-block font-medium" %>
        <%= button_to 'Delete', user_path(@user), method: :delete,  data: {confirm: 'Are you sure? This action is permanent!'}, class: "rounded-lg py-3 px-5 bg-red-100 font-medium" %>
      </div>
    <% end %>
  </div>
</div>
