<div>
  <div class="flex justify-between mb-16 items-end">
    <h1 class="text-7xl font-bold">Skipper Buoy</h1>
    <div>
      <% if current_user %>
        <%= button_to "logout", destroy_user_session_path, method: :delete  %>
      <% end %>
    </div>
  </div>
  <p>
    This site aims to provide clarity to crew and accountability for skippers,
    within the commercial fishing industry.
  </p>
  <h2>SM_TEST_SECRET</h2>
  <h2><%= ENV['SM_TEST_SECRET'] %></h2>
  <h2>EX_TEST_SECRET</h2>
  <h2><%= ENV['EX_TEST_SECRET'] %></h2>
  <h2>WF_TEST_SECRET</h2>
  <h2><%= ENV['WF_TEST_SECRET'] %></h2>
  <h2>GH_TEST_SECRET</h2>
  <h2><%= ENV['GH_TEST_SECRET'] %></h2>
  <h2>Secret KEY BASE?</h2>
  <h2><%= ENV['SECRET_KEY_BASE'] %></h2>
  <div class="flex flex-row justify-around content-center py-24 px-5">
    <%= button_to 'Sign Up', new_user_registration_path, method: :get, class: 'bg-blue-500 hover:bg-blue-700 text-white text-4xl font-bold p-10 rounded' %>
    <%= button_to 'Log In', new_user_session_path, method: :get, class: 'bg-gray-500 hover:bg-gray-700 text-white text-4xl font-bold p-10 rounded' %>
  </div>
</div>
