<%= form_with(model: review, class: "contents") do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>
      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class='flex flex-col justify-start gap-10'>
    <%= form.hidden_field :skipper_id, value: @skipper.id %>
    <%= form.hidden_field :author_id, value: current_user.id %>
    <%= render 'shared/radio_field', form: form, field: :would_return, title: "Would you fish for #{@skipper.firstname} again?" do %>
      <%= render 'shared/radio_option', form: form, label: 'Yes', field: :would_return, value: true %>
      <%= render 'shared/radio_option', form: form, label: 'No', field: :would_return, value: false %>
    <% end %>
    <div class='flex flex-col gap-3'>
      <p>Any concerning behaviors?</p>
      <div class="flex flex-col gap-1">
        <%= render 'shared/checkbox_field', form: form, field: :reckless, label: Flags::Bad::RECKLESS %>
        <%= render 'shared/checkbox_field', form: form, field: :aggressive, label: Flags::Bad::AGGRESSIVE %>
        <%= render 'shared/checkbox_field', form: form, field: :did_not_pay, label: Flags::Bad::DID_NOT_PAY %>
      </div>
    </div>
    <div class='flex flex-col gap-3'>
      <%= form.label :comment, 'Anything else?' %>
      <%= form.text_area :comment, rows: 4 %>
    </div>
    <%= render 'shared/radio_field', form: form, field: :anonymity, title: "What level of anonymity do you want?" do %>
      <%= render 'shared/radio_option', form: form, label: 'Anonymous', field: :anonymity, value: :anonymous %>
      <%= render 'shared/radio_option', form: form, label: 'Signed for Friends', field: :anonymity, value: :signed_for_friends %>
      <%= render 'shared/radio_option', form: form, label: 'Signed for All (your name will be visible to all users)', field: :anonymity, value: :signed_for_all %>
    <% end %>
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-100 text-lg cursor-pointer" %>
  </div>
<% end %>
