<%= form_with(model: review, class: "contents") do |form| %>
  <%= render 'shared/errors', resource: review %>
  <div class='flex flex-col justify-start gap-10'>

    <%= form.hidden_field :skipper_id, value: @skipper.id %>
    <%= form.hidden_field :author_id, value: current_user.id %>

    <%= render 'shared/form/radio_field', form: form, field: :would_return, title: "Would you fish for #{@skipper.firstname} again?" do %>
      <%= render 'shared/form/radio_option', form: form, label: 'Yes', field: :would_return, value: true %>
      <%= render 'shared/form/radio_option', form: form, label: 'No', field: :would_return, value: false %>
    <% end %>

		<%= render 'shared/form/input_group', title: 'Any notable perks?' do %>
			<% Flags::Good.constants.each do |flag| %>
				<%= render 'shared/form/checkbox_field', form: form, field: flag.downcase, label: Flags::Good.const_get(flag) %>
			<% end %>
		<% end %>

		<%= render 'shared/form/input_group', title: 'Any concerning behaviors?' do %>
			<% Flags::Bad.constants.each do |flag| %>
				<%= render 'shared/form/checkbox_field', form: form, field: flag.downcase, label: Flags::Bad.const_get(flag) %>
			<% end %>
		<% end %>

		<%= render 'shared/form/text_area', form: form, label: 'Anything else?', rows: 4 %>

    <%= render 'shared/form/radio_field', form: form, field: :fished_for_skipper, title: "Have you fished for #{@skipper.firstname} personally?" do %>
      <%= render 'shared/form/radio_option', form: form, label: 'Yes', field: :fished_for_skipper, value: true %>
      <%= render 'shared/form/radio_option', form: form, label: 'No', field: :fished_for_skipper, value: false %>
    <% end %>

    <%= render 'shared/form/radio_field', form: form, field: :review_is_truthful, title: "Do you certify that the content of this review is truthful?" do %>
      <%= render 'shared/form/radio_option', form: form, label: 'Yes', field: :review_is_truthful, value: true %>
      <%= render 'shared/form/radio_option', form: form, label: 'No', field: :review_is_truthful, value: false %>
    <% end %>

    <%= render 'shared/form/radio_field', form: form, field: :anonymity, title: "What level of anonymity do you want?" do %>
      <%= render 'shared/form/radio_option', form: form, label: 'Anonymous', field: :anonymity, value: :anonymous %>
      <%= render 'shared/form/radio_option', form: form, label: 'Signed for Friends', field: :anonymity, value: :signed_for_friends %>
      <%= render 'shared/form/radio_option', form: form, label: 'Signed for All (your name will be visible to all users)', field: :anonymity, value: :signed_for_all %>
    <% end %>

    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-100 text-lg cursor-pointer" %>
  </div>
<% end %>
