<div id="<%= dom_id review %>" class="flex flex-col gap-5 p-3 border-4 justify-between items-start">
	<div class='flex bg-gray-100 text-lg py-3 px-5 rounded-lg w-full'>
		<p style='min-height: 3em;'><%= review.comment %></p>
	</div>
	<div class='flex flex-grid gap-2 flex-wrap'>
		<% if !review.flags? %>
			<p class='buttonlike text-center bg-green-100'>No Flags</p>
		<% end %>
		<% if review.good_flags? %>
			<% review.good_flags.each do |flag| %>
				<p class='buttonlike text-center bg-green-100'><%= flag %></p>
			<%end%>
		<% end %>
		<% if review.bad_flags? %>
			<% review.bad_flags.each do |flag| %>
				<p class='buttonlike text-center bg-red-100'><%= flag %></p>
			<%end%>
		<% end %>
	</div>
	<div class='flex flex-col'>
		<%= render 'reviews/signature', review: review %>
	</div>
</div>
