<header>
  <nav class="flex flex-row border-b-2 items-center gap-3 py-3 pl-3 pr-5">
    <%= link_to "/" do %>
      <img src=<%= asset_path("buoy.png")%> width="70" height="auto" class="rounded-full" style="min-width: 70px;"/>
    <% end %>

    <div class='flex flex-row items-center justify-between w-full gap-3'>
      <div class='flex flex-row gap-3'>
        <% if current_user %>
          <%= link_to "Skippers", skippers_path, class: "rounded-lg bg-gray-100 py-3 p-5 font-medium" %>
          <%= link_to "Users", users_path, class: "rounded-lg bg-gray-100 py-3 px-5 font-medium" %>
        <% end %>
      </div>
      <div class='flex flex-row gap-3 flex-nowrap'>
        <% if current_user %>
          <%= link_to user_path(current_user), title: 'My Profile', class: "rounded-lg bg-blue-100 py-3 px-5 font-medium" do %>
            <%= inline_svg_tag('person.svg', style: 'max-height: 1.5rem; max-width: 1.5rem;', class: 'flex items-center') %>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete, title: 'Sign Out', class: "rounded-lg bg-gray-100 py-3 px-5 font-medium" do %>
            <%= inline_svg_tag('logout.svg', style: 'max-height: 1.5rem; max-width: 1.5rem;', class: 'flex items-center') %>
          <% end %>
        <% else %>
          <%= link_to 'Sign Up', new_user_registration_path, class: "rounded-lg bg-blue-100 py-3 px-5 font-medium" %>
          <%= link_to 'Log In', new_user_session_path, class: "rounded-lg bg-gray-100 py-3 px-5 font-medium" %>
        <% end %>
      </div>
    </div>
  </nav>
</header>
