<!DOCTYPE html>
<html class='bg-blue-100'>
  <head>
    <title>Skipper Buoy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind.css", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>
  <body class='flex flex-col justify-between min-h-screen mx-auto bg-white' style="max-width: 1600px;">
    <div class='flex flex-col'>
      <%= render 'layouts/navbar' %>
      <%= render 'shared/flashes' %>
      <main class="flex flex-col pt-5 pb-28 px-5">
          <%= yield %>
      </main>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>