<!DOCTYPE html>
<html>
  <head>
    <title>Skipper Buoy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind.css", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'shared/flashes' %>
    <main class="container mx-auto mt-28 px-5 flex flex-col">
      <div class="flex flex-col">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
